.footer-action a, .footer-action form{
    float:left;
    margin-right:20px;
}
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting:after{
    content: ''!important;
}